.navbar{
    min-height: 70px;
    width:100%;
    background-color:navy;
    color:white;
    font-size: 25px;
    position: fixed;
    
}
.navbar li{
    display: inline-block;
    margin-left: 200px;
  
    font-size: 20px;
    font-weight: bold;
  
    text-align: center;

}
.navbar-brand{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
